body{
    background-color: #262626;
    color:white;
    
}
#particle-js{
    position: absolute;
    height: 100vh;
    width:100%;
    
}
.banner-text{
    position: absolute;
    text-align: center;
    /*background-color: rgba(255, 255, 255,0.14);*/
    width:50%;
    top:10%;
    left:20%;
    
   
    
}
.registerform{
    position: absolute;
    top:5%;
    left:30%;
    border:3px solid #05cafc;
    padding:30px;
    text-align: center;
    
}
input{
    width:100%;
    border-radius: 5px;
    height:30px;
    border:1.5px solid  #05cafc;
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
    font-size:20px;
}
