<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register as an Employer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="employer.css">
    <script src="particles.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body ng-app="">
    <div id="particles-js">
        <div class="banner-text">
            <div class="registerform">
                <form name="frm" action="">
                    <center>
                        <h3>Register as Company</h3><br>
                    </center>
                    <div class="question">
                        <label for="fname">Company Name</label>
                        <span style="color:red;" ng-show="frm.fname.$error.required">*</span>
                        <input type="text" name="fname" ng-model="fname" required>
                    </div>
                    <div class="question">
                        <label for="lname">Username</label>
                        <span style="color:red;" ng-show="frm.lname.$error.required">*</span>
                        <input type="text" name="lname" ng-model="lname" required>
                    </div>

                    <div class="question">
                        <label for="mail">Email</label>
                        <span style="color:red;" ng-show="frm.mail.$error.required">*</span>
                        <span style="color:red;" ng-show="frm.mail.$error.email">Invalid Email </span>
                        <input type="email" name="mail" ng-model="mail" required>

                    </div>
                    <div class="question">
                        <label for="pass">Password:</label>
                        <span style="color:red;" ng-show="frm.pass.$error.required">*</span>

                        <input type="password" name="pass" id="pass" ng-model="pass" ng-minlength="6" ng-maxlength="10"
                            required>
                        <span style="color:red;" ng-show="frm.pass.$error.minlength">Too short</span>
                        <span style="color:red;" ng-show="frm.pass.$error.maxlength">Too large</span>
                    </div>
                    <div class="question">
                        <label for="cpass">Confirm Password:</label>
                        <span style="color:red;" ng-show="frm.cpass.$error.required">*</span>
                        <input type="password" name="cpass" id="cpass" ng-model="cpass" ng-minlength="6"
                            ng-maxlength="10" required>
                        <span style="color:red;" ng-show="frm.cpass.$error.minlength">Weak</span>
                        <span style="color:green;" ng-show="frm.cpass.$error.maxlength">Strong</span>
                    </div>
                    <br>
                    <button type="button" class="btn btn-outline-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        particlesJS.load('particles-js', 'particles.json', function () {
            console.log('callback - particles.js config loaded');
        });
    </script>





</body>

</html>
